@import "../varibales/varibales";

// General Property
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, $main-color, $sec-color);
  border-radius: 4px;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .container {
    width: 85%;
    margin: 0 auto;
  }
}

#scroll-top {
  position: fixed;
  bottom: 30px;
  display: flex; /* Center Children Elemnet */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 50px;
  color: #4b778d;
  background-color: transparent;
  box-shadow: 0px 3px 0px 0 #b7b7b700, 0px 2px 3px 0px #b7b7b70d,
    0px 3px 7px 0 #73737370;
  pointer-events: none; /* To DisAppear When its Display None */
  opacity: 0;
  transform-style: preserve-3d;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 1s cubic-bezier(1, -0.32, 0.01, 1.29);
  z-index: 1000;
}

.responsive-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}
