@import "../global/global";
@import "../global/links";
@import "../global/header";
@import "../varibales/varibales";

// Landing Page
.landing-page {
  display: flex;
  height: calc(100vh - 69px);
  .intro {
    width: 40%;
    padding-top: 100px;
    .intro-title {
      padding: 15px 0;
      letter-spacing: 1px;
      font-size: 25px;
    }
    .intro-desc {
      line-height: 1.6;
      margin: 40px 0;
      font-size: 19px;
    }
    .btn-start {
      position: relative;
      width: 160px;
      height: 50px;
      font-family: inherit;
      border-radius: 0 20px;
      background-image: linear-gradient(to right, $main-color, $sec-color);
      transition: border-radius 0.5s, opacity 0.5s;
      border: none;
      outline: none;
      cursor: pointer;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0.9, 0.8) translateY(20px);
        filter: blur(20px);
        background-image: linear-gradient(to right, $main-color, $sec-color);
        z-index: -1;
        opacity: 0;
        transition: opacity 0.5s;
      }

      &:hover {
        border-radius: 20px 0;
      }
      &:hover::before {
        opacity: 1;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        font-size: 17px;
        line-height: 50px;
      }
    }
  }
  .images-side {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35vw;
    overflow: hidden;
    img {
      width: 111%;
      height: 111%;
      position: absolute;
      top: -65px;
      right: 0;
      z-index: -1;
    }
    footer {
      display: none;
      p {
        display: none;
      }
    }
  }
  @media (min-width: 992px) {
    .intro {
      width: 50% !important;
      padding-top: 75px;
    }
    .images-side {
      display: block !important;
    }
  }
  @media (min-width: 769px) {
    .intro {
      width: 100%;
      padding-top: 75px;
      .intro-title {
        font-size: 25px;
      }
      .intro-desc {
        font-size: 17px;
      }
    }
    .images-side {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .intro {
      width: 100%;
      padding-top: 50px;
      .intro-title {
        font-size: 25px;
      }
      .intro-desc {
        font-size: 17px;
        margin: 20px 0;
      }
    }
    .images-side {
      display: none;
    }
  }
}
footer {
  width: 100%;
  background-image: linear-gradient(to right, $main-color, $sec-color);
  color: white;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  p {
    font-size: 15px;
    a {
      cursor: pointer;
      color: white;
      font-family: inherit;
      i {
        margin-left: 2px;
      }
    }
  }
  @media (min-width: 1200px) {
    display: none !important;
  }
  @media (min-width: 992px) {
    display: none !important;
  }
  @media (min-width: 769px) {
    display: block;
  }
  @media (max-width: 768px) {
    display: block;
  }
}
